@import "../variables";

.outer {
	background-color: white;
	padding: $gutter;
}
.inner {
	margin: 0 auto;
	display: flex;
	justify-content: center;

	a {
		display: block;
	}
}
.items {
	display: flex;
	column-gap: $gutter;
	align-items: center;

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}
